<form action="/home" method="GET">
  <h1 class="sectionName">Content Management System</h1>
  <h2>Please Login</h2>
  <label>Username:<br>
    <input type="text" name="username">
  </label>
  <br><br>
  <label>Password:<br>
    <input type="password" name="password">
  </label>
  <br><br>
  <input class="submitBtn" type="submit" value="Login!">
</form>